body {
  background-color: #d89cf6;
}

.flex-container {
  height: 200px;
}

.start {
  align-items: flex-start;
}

.start {
  align-items: flex-start;
}

.end {
  align-items: flex-end;
}

.center {
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.baseline {
  align-items: baseline;
}

.baseline div:nth-child(2) {
  font-size: 36px;
}
.baseline div:nth-child(3) {
  font-size: 55px;
}
