.footer-container {
  display: flex;
  justify-content: center;
  background-color: #1d2020;
  margin: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.26);
  z-index: 99;
}

.footer-link {
  text-decoration: none;
  color: #777677;
  font-size: 26px;
  margin: 10px;
  text-align: center;
}
